* {
  margin: 0px;
  font-size: 13px;
  cursor: pointer;
}
.App {
  font-family: sans-serif;
  text-align: center;
}
.navbar {
  display: flex;
  position: relative;
  flex-direction: row;
  height: 56px;
  justify-content: space-evenly;
  align-items: center;
  width: min-content;
  z-index: 1;
  border-radius: 0px;
  background-color: rgb(223, 223, 223, 0.8);
  transition: 0.45s ease-in;
}
.navbarhide {
  display: flex;
  position: relative;
  height: 0px;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: min-content;
  z-index: -9999;
  border-radius: 30px;
  background-color: rgb(223, 223, 223, 0.8);
  transition: 0.3s ease-out;
}
.openedPage {
  display: flex;
  position: fixed;
  height: 56px;
  right: 86px;
  bottom: 10px;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: min-content;
  z-index: 1;
  background-color: rgb(223, 223, 223, 0.8);
  transition: 0.3s ease-out;
}
.all > * {
  color: red;
}
.natural > * {
  color: red;
}

.navbar div {
  padding: 0px 10px;
}
